@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.barraNavegacion{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: blue;
    background-color: rgb(173, 229, 255);
}

.links{
    color: blue;
    margin-right: 80px;
    font-weight: bold;
}

.nav-link{
    color: blue!important;
    margin-right: 20px;
    margin-left: 20px;
}